h1 { color: ghostwhite; text-align: center; font-size: 40px;}

h2 { color: ghostwhite; text-align: center; font-size: 40px;}

p { text-align: center; color: ghostwhite; font-size: 2rem;}

 img{
        height: 200px;
        border-radius: 30%;
        border: 12px dotted rgb(243, 238, 242);
    
    }
        
    body {
        font-family: 'Marck Script', cursive;}

    footer {
        text-align: center;color: ghostwhite;
    }
    div  {
        background-color: rgb(233, 141, 141);

    }

    body{
        background-color:rgb(237, 182, 115)
    }
    
.button{
    border: none;
    color: white;
    padding: 20px;
    font-size: 20px;
    cursor: pointer; 
    border-radius: 10px;
}

*{
    text-align: center;
}
    